.chat-room-container {
  position: relative;
  display: flex;
  height: 100vh;
  background-color: rgba(66, 78, 101, 0);
}

.graph-chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.coordinates-graph-container {
  flex: 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.audio-effect-container {
  background-color: rgba(240, 248, 255, 0);
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
