.chat-room-container {
  margin: auto;
  position: relative;
  display: flex;
  height: 100vh;
  background-color: rgba(66, 78, 101, 0);
  flex-direction: column;
}

.graph-chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.coordinates-graph-container {
  flex: 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.audio-effect-container {
  background-color: rgba(240, 248, 255, 0);
  align-content: center;
  align-self: center;
  flex: 1;
  margin-left: 350px;
  margin-right: 300px;
}

.audio-effect-icon {
  color: white;
  margin-bottom: 5%;
}