.chat-cam-container {
  width: 303px;
  height: 286.009px;
  border-radius: 30px;
  background: #333758;
}

.chat-cam-ai-profile-img {
  width: 257.677px;
}

.chat-cam-user-profile {

}

.chat-cam-user-profile-img {
  width: 67.22px;
}